*.db
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.vs/
*.vcxproj.user
*.sqlitenoext
*.VC.db
*.VC.opendb
[Dd]ebug/
[Rr]elease/
x64/
x86/
out/
build/
*.vcxproj.filters